Основы работы с библиотекой Pandas

In [107]:
import pandas as pd

# help(pd)

Основные структуры данных:

- Series - похожа на list (но ассоциативный)
    - единица данных
- DataFrame

In [108]:
ser_demo = pd.Series(range(7, 17))

In [109]:
print(ser_demo)

0     7
1     8
2     9
3    10
4    11
5    12
6    13
7    14
8    15
9    16
dtype: int64

In [110]:
ser_demo.index

RangeIndex(start=0, stop=10, step=1)

In [111]:
ser_demo.values

array([ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [112]:
type(ser_demo.values)

numpy.ndarray

In [113]:
data = list(range(10))

In [114]:
from string import ascii_lowercase
print(data)
print(ascii_lowercase)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
abcdefghijklmnopqrstuvwxyz

In [115]:
index_letter = [ascii_lowercase[i] for i in data]

In [116]:
print(index_letter)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Символы в качестве индексов

In [117]:

s = pd.Series(data, index=index_letter)

In [118]:
print(s)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [119]:
s['i']

8

In [120]:
s[['a', 'b', 'c', 'f']]

a    0
b    1
c    2
f    5
dtype: int64

In [121]:
s[s > 6] * 2

h    14
i    16
j    18
dtype: int64

In [122]:
s ** 2

a     0
b     1
c     4
d     9
e    16
f    25
g    36
h    49
i    64
j    81
dtype: int64

In [123]:
'f' in s

True

In [124]:
'k' in s

False

In [125]:
# По порядковому индексу элемента
s.iloc[6]

6

In [126]:
# первые
s.head(3)

a    0
b    1
c    2
dtype: int64

In [127]:
items = {ascii_lowercase[i]: i for i in range(10)}
print(items)

x = pd.Series(items, dtype='float')
s = pd.Series(items, dtype='int64')
print(x)
print(s)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9}
a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
i    8.0
j    9.0
dtype: float64
a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

Заполняет недостающие элементы NaN

In [128]:
s = pd.Series(items, index=[ascii_lowercase[i] for i in range(len(items) + 1)], )
print(s)

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
i    8.0
j    9.0
k    NaN
dtype: float64

In [129]:
s.median()

4.5

In [130]:
s.max()

9.0

In [131]:
s.min()

0.0

In [132]:
s['k'] = 10
print(s)
print(s.median())

a     0.0
b     1.0
c     2.0
d     3.0
e     4.0
f     5.0
g     6.0
h     7.0
i     8.0
j     9.0
k    10.0
dtype: float64
5.0

In [133]:
s.name = 'Numbers'
s.index.name = 'letters'

s

letters
a     0.0
b     1.0
c     2.0
d     3.0
e     4.0
f     5.0
g     6.0
h     7.0
i     8.0
j     9.0
k    10.0
Name: Numbers, dtype: float64

In [134]:
s.array

<PandasArray>
[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
Length: 11, dtype: float64

In [135]:
# еще один вариант вывести элемент по элементу
s.array[5]

5.0

In [136]:
s.to_numpy()

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [137]:
import numpy as np

np.exp(s)

letters
a        1.000000
b        2.718282
c        7.389056
d       20.085537
e       54.598150
f      148.413159
g      403.428793
h     1096.633158
i     2980.957987
j     8103.083928
k    22026.465795
Name: Numbers, dtype: float64

### DATAFRAME

In [138]:
df = pd.DataFrame({
    'country': ['Russia', 'Kazakhstan', 'Ukraine', 'Belarus',],
    'population': [144.5, 18.3, 42.6, 9.7, ],
    'square': [17_250_000, 2_2724_900, 603_628, 207_595,],
},
    index=['RU', 'KZ', 'UA', 'BY',]
)
df

       country  population    square
RU      Russia       144.5  17250000
KZ  Kazakhstan        18.3  22724900
UA     Ukraine        42.6    603628
BY     Belarus         9.7    207595

In [139]:
df.index

Index(['RU', 'KZ', 'UA', 'BY'], dtype='object')

In [140]:
df.index.name = 'Country code'
df.index

Index(['RU', 'KZ', 'UA', 'BY'], dtype='object', name='Country code')

In [141]:
print(df['country'], end='\n\n')
print(df['population'],end='\n\n')
print(df['square'],end='\n\n')

Country code
RU        Russia
KZ    Kazakhstan
UA       Ukraine
BY       Belarus
Name: country, dtype: object

Country code
RU    144.5
KZ     18.3
UA     42.6
BY      9.7
Name: population, dtype: float64

Country code
RU    17250000
KZ    22724900
UA      603628
BY      207595
Name: square, dtype: int64

In [142]:
df.iloc[2]

country       Ukraine
population       42.6
square         603628
Name: UA, dtype: object

In [143]:
df['population'][['RU', 'BY']]

Country code
RU    144.5
BY      9.7
Name: population, dtype: float64

In [144]:
df.loc['RU':'UA']

                 country  population    square
Country code
RU                Russia       144.5  17250000
KZ            Kazakhstan        18.3  22724900
UA               Ukraine        42.6    603628

In [145]:
df.loc['KZ':]

                 country  population    square
Country code
KZ            Kazakhstan        18.3  22724900
UA               Ukraine        42.6    603628
BY               Belarus         9.7    207595

In [146]:
df.loc['KZ':, 'square']

Country code
KZ    22724900
UA      603628
BY      207595
Name: square, dtype: int64

In [147]:
df.population

Country code
RU    144.5
KZ     18.3
UA     42.6
BY      9.7
Name: population, dtype: float64

In [148]:
df.squeeze

<bound method NDFrame.squeeze of                  country  population    square
Country code
RU                Russia       144.5  17250000
KZ            Kazakhstan        18.3  22724900
UA               Ukraine        42.6    603628
BY               Belarus         9.7    207595>

In [149]:
df.country

Country code
RU        Russia
KZ    Kazakhstan
UA       Ukraine
BY       Belarus
Name: country, dtype: object

In [150]:
df.population > 40

Country code
RU     True
KZ    False
UA     True
BY    False
Name: population, dtype: bool

### cрезы:

In [151]:
df[df.population > 40]

              country  population    square
Country code
RU             Russia       144.5  17250000
UA            Ukraine        42.6    603628

In [152]:
df[df.population > 40][['country', 'square']]

              country    square
Country code
RU             Russia  17250000
UA            Ukraine    603628

In [153]:

df['density'] = df.population * 1_000_000 / df.square

In [154]:
df

                 country  population    square    density
Country code
RU                Russia       144.5  17250000   8.376812
KZ            Kazakhstan        18.3  22724900   0.805284
UA               Ukraine        42.6    603628  70.573267
BY               Belarus         9.7    207595  46.725596

Удаление

In [155]:
# дропнуть сам объект

del df['density']
df

                 country  population    square
Country code
RU                Russia       144.5  17250000
KZ            Kazakhstan        18.3  22724900
UA               Ukraine        42.6    603628
BY               Belarus         9.7    207595

In [156]:
df['density'] = df.population * 1_000_000 / df.square

Или другой вариант

In [157]:
# создается новый объект без удаления
df.drop(['density'], axis='columns')

                 country  population    square
Country code
RU                Russia       144.5  17250000
KZ            Kazakhstan        18.3  22724900
UA               Ukraine        42.6    603628
BY               Belarus         9.7    207595

### Работа с CSV

Сохранение фрейма в csv

In [158]:
countries_filename = 'countries_data.csv'
df.to_csv(countries_filename)

Загрузка фрейма из csv

In [159]:
dfn = pd.read_csv(countries_filename)
dfn

  Country code     country  population    square    density
0           RU      Russia       144.5  17250000   8.376812
1           KZ  Kazakhstan        18.3  22724900   0.805284
2           UA     Ukraine        42.6    603628  70.573267
3           BY     Belarus         9.7    207595  46.725596

без индексов

In [160]:
dfn = pd.read_csv(countries_filename, index_col=0)
dfn

                 country  population    square    density
Country code
RU                Russia       144.5  17250000   8.376812
KZ            Kazakhstan        18.3  22724900   0.805284
UA               Ukraine        42.6    603628  70.573267
BY               Belarus         9.7    207595  46.725596

Привести к NumPy

In [161]:
dfn.to_numpy()

array([['Russia', 144.5, 17250000, 8.376811594202898],
       ['Kazakhstan', 18.3, 22724900, 0.805284071657081],
       ['Ukraine', 42.6, 603628, 70.57326697900031],
       ['Belarus', 9.7, 207595, 46.72559551048917]], dtype=object)

### Data science

In [162]:
titanic = pd.read_csv('titanic.csv')
titanic

,PassengerID,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0
...,...,...,...,...,...,...,...
1308,1309,"Zakarian, Mr Artun",3rd,27.00,male,0,0
1309,1310,"Zakarian, Mr Maprieder",3rd,26.00,male,0,0
1310,1311,"Zenni, Mr Philip",3rd,22.00,male,0,0
1311,1312,"Lievens, Mr Rene",3rd,24.00,male,0,0
1312,1313,"Zimmerman, Leo",3rd,29.00,male,0,0

In [163]:
titanic.head(10)

,PassengerID,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0
5,6,"Anderson, Mr Harry",1st,47.00,male,1,0
6,7,"Andrews, Miss Kornelia Theodosia",1st,63.00,female,1,1
7,8,"Andrews, Mr Thomas, jr",1st,39.00,male,0,0
8,9,"Appleton, Mrs Edward Dale (Charlotte Lamson)",1st,58.00,female,1,1
9,10,"Artagaveytia, Mr Ramon",1st,71.00,male,0,0

In [164]:
titanic.tail(15)

,PassengerID,Name,PClass,Age,Sex,Survived,SexCode
1298,1299,"Windelov, Mr Einar",3rd,21.0,male,0,0
1299,1300,"Wirz, Mr Albert",3rd,27.0,male,0,0
1300,1301,"Wiseman, Mr Phillippe",3rd,NaN,male,0,0
1301,1302,"Wittevrongel, Mr Camiel",3rd,36.0,male,0,0
1302,1303,"Yalsevac, Mr Ivan",3rd,NaN,male,1,0
1303,1304,"Yasbeck, Mr Antoni",3rd,27.0,male,0,0
1304,1305,"Yasbeck, Mrs Antoni",3rd,15.0,female,1,1
1305,1306,"Youssef, Mr Gerios",3rd,NaN,male,0,0
1306,1307,"Zabour, Miss Hileni",3rd,NaN,female,0,1
1307,1308,"Zabour, Miss Tamini",3rd,NaN,female,0,1
1308,1309,"Zakarian, Mr Artun",3rd,27.0,male,0,0
1309,1310,"Zakarian, Mr Maprieder",3rd,26.0,male,0,0
1310,1311,"Zenni, Mr Philip",3rd,22.0,male,0,0
1311,1312,"Lievens, Mr Rene",3rd,24.0,male,0,0
1312,1313,"Zimmerman, Leo",3rd,29.0,male,0,0

In [165]:
titanic.groupby(['Sex','Survived']).count()

                 PassengerID  Name  PClass  Age  SexCode
Sex    Survived
female 0                 154   154     154   71      154
       1                 308   308     308  217      308
male   0                 709   709     709  372      709
       1                 142   142     142   96      142

In [166]:
titanic.groupby(['Sex','Survived'])['PassengerID'].count()

Sex     Survived
female  0           154
        1           308
male    0           709
        1           142
Name: PassengerID, dtype: int64

In [167]:
titanic.groupby(['PClass','Survived'])['PassengerID'].count()

PClass  Survived
*       0             1
1st     0           129
        1           193
2nd     0           160
        1           119
3rd     0           573
        1           138
Name: PassengerID, dtype: int64

Сводная таблица

In [168]:
pvt = titanic.pivot_table(
    index=['Sex'],
    columns=['PClass'],
    values='Name',
    aggfunc='count',
)
pvt

PClass    *    1st    2nd    3rd
Sex
female  NaN  143.0  107.0  212.0
male    1.0  179.0  172.0  499.0

In [169]:
weights = pd.read_csv(
    'weights.csv',
    index_col=0,
    parse_dates=True,
)
weights

,AT0000A18XM4 SW,BE0974268972 BB,US0527691069 US,DE0007164600 GR,US6092071058 US
2014-01-14,0.184660,0.275706,0.303425,0.042841,0.193368
2014-01-15,0.225875,0.147861,0.151211,0.224074,0.250978
2014-01-16,0.261017,0.334213,0.293336,0.015744,0.095690
2014-01-17,0.160168,0.231034,0.092674,0.269050,0.247074
2014-01-18,0.057162,0.254146,0.027286,0.480660,0.180746
...,...,...,...,...,...
2018-02-28,0.123821,0.167899,0.120844,0.088780,0.498657
2018-03-01,0.035043,0.289624,0.220871,0.136366,0.318096
2018-03-02,0.397155,0.362025,0.050554,0.020247,0.170019
2018-03-03,0.319902,0.277405,0.051719,0.008164,0.342810
2018-03-06,0.057699,0.352290,0.291162,0.197700,0.101148

In [170]:
weights = weights.sort_index()

In [171]:
#Убедились что все по порядку 
weights

,AT0000A18XM4 SW,BE0974268972 BB,US0527691069 US,DE0007164600 GR,US6092071058 US
2014-01-14,0.184660,0.275706,0.303425,0.042841,0.193368
2014-01-15,0.225875,0.147861,0.151211,0.224074,0.250978
2014-01-16,0.261017,0.334213,0.293336,0.015744,0.095690
2014-01-17,0.160168,0.231034,0.092674,0.269050,0.247074
2014-01-18,0.057162,0.254146,0.027286,0.480660,0.180746
...,...,...,...,...,...
2018-02-28,0.123821,0.167899,0.120844,0.088780,0.498657
2018-03-01,0.035043,0.289624,0.220871,0.136366,0.318096
2018-03-02,0.397155,0.362025,0.050554,0.020247,0.170019
2018-03-03,0.319902,0.277405,0.051719,0.008164,0.342810
2018-03-06,0.057699,0.352290,0.291162,0.197700,0.101148

In [172]:
weights[['AT0000A18XM4 SW','BE0974268972 BB']]

            AT0000A18XM4 SW  BE0974268972 BB
2014-01-14         0.184660         0.275706
2014-01-15         0.225875         0.147861
2014-01-16         0.261017         0.334213
2014-01-17         0.160168         0.231034
2014-01-18         0.057162         0.254146
...                     ...              ...
2018-02-28         0.123821         0.167899
2018-03-01         0.035043         0.289624
2018-03-02         0.397155         0.362025
2018-03-03         0.319902         0.277405
2018-03-06         0.057699         0.352290

[1081 rows x 2 columns]

In [173]:
weights['2018-02-28':][['AT0000A18XM4 SW','US6092071058 US']]

            AT0000A18XM4 SW  US6092071058 US
2018-02-28         0.123821         0.498657
2018-03-01         0.035043         0.318096
2018-03-02         0.397155         0.170019
2018-03-03         0.319902         0.342810
2018-03-06         0.057699         0.101148

In [174]:
# # Вывести все в виде строк
# print(weights.to_string())

Агрегирование

In [175]:
weights.agg(['min', 'max'])

,AT0000A18XM4 SW,BE0974268972 BB,US0527691069 US,DE0007164600 GR,US6092071058 US
min,0.000063,0.000018,0.000331,2.895741e-07,0.000132
max,0.588783,0.638583,0.792982,8.555499e-01,0.621904

In [176]:
weights.agg(['sum'])

,AT0000A18XM4 SW,BE0974268972 BB,US0527691069 US,DE0007164600 GR,US6092071058 US
sum,207.610076,219.560807,221.511034,217.219639,215.098445

In [177]:
# Самые большие данные для индексов
weights.idxmax()

AT0000A18XM4 SW   2017-05-06
BE0974268972 BB   2014-10-08
US0527691069 US   2017-08-24
DE0007164600 GR   2017-01-25
US6092071058 US   2016-06-15
dtype: datetime64[ns]

In [178]:
weights.loc[weights.idxmax()]

,AT0000A18XM4 SW,BE0974268972 BB,US0527691069 US,DE0007164600 GR,US6092071058 US
2017-05-06,0.588783,0.098971,0.065059,0.220716,0.026471
2014-10-08,0.055022,0.638583,0.087784,0.004366,0.214245
2017-08-24,0.016481,0.081014,0.792982,0.034498,0.075025
2017-01-25,0.033026,0.044487,0.063948,0.855550,0.002989
2016-06-15,0.089216,0.227885,0.007397,0.053598,0.621904

Работа с Json

In [247]:
import json
from datetime import datetime

with open('fines.json') as f:
    json_str = f.read()

value_raw = json.loads(json_str)['Value']
fines_list = json.loads(value_raw)['Fines']

In [248]:
from pprint import pprint
pprint(fines_list[0])

{'AdminOffensesTypeText': 'Штраф',
 'AmountToPay': 0,
 'ApnDetail': [{'AttrId': 'StAP',
                'Name': 'Статья КоАП или закона субъекта РФ, состав '
                        'правонарушения',
                'Value': '12.17 ч.1.2 - Движение или остановка на полосе для '
                         'маршрутных ТС в Москве или в Санкт-Петербурге'},
               {'AttrId': 'MestoDAP',
                'Name': 'Место составления документа',
                'Value': 'САДОВАЯ-САМОТЕЧНАЯ,д.1,ТВЕРСКОЙ (ЦАО) Р-Н'},
               {'AttrId': 'DatNar',
                'Name': 'Дата и время нарушения',
                'Value': '23.01.2018 00:21:00'},
               {'AttrId': 'MestoNar',
                'Name': 'Место нарушения',
                'Value': 'МОСКВА Г.   МОХОВАЯ д.15/1'},
               {'AttrId': 'OdpsName',
                'Name': 'Орган власти, выявивший нарушение',
                'Value': 'ЦАФАП ОДД ГИБДД ГУ МВД России по г.Москве'},
               {'AttrId': 'FIONarush',
                'Name': 'Нарушитель',
                'Value': 'ЛЕОНИД ЭДУАРДОВИЧ'},
               {'AttrId': 'GRZNarush',
                'Name': 'Транспортное средство',
                'Value': 'С700*****'}],
 'DAP': '18810177180125209293',
 'DAPName': 'Постановление по видеофиксации №18810177180125209293 от '
            '25.01.2018',
 'DateDAP': '25.01.2018',
 'DiscountDate': '',
 'DiscountSize': '',
 'DiscountSizeAmountToPaySum': None,
 'FineStatus': 1,
 'FineSum': 3000,
 'HasAdditionalActions': False,
 'HasPhoto': True,
 'IsFine': True,
 'Latitude': '55,7563209999',
 'Longitude': '37,614136',
 'OdpsKod': '1145519',
 'PayedAmountSum': None,
 'PaymentId': '',
 'Sh': '{"DAP":"18810177180125209293","DateDAP":"25.01.2018","ODPS":"ЦАФАП ОДД '
       'ГИБДД ГУ МВД России по '
       'г.Москве","PaymentID":null,"RsRschet":"40101810045250010041","SgBuk":"044525000","ShBankName":"ГУ '
       'Банка России по '
       'ЦФО","ShInn":"7707089101","ShKbk":"18811630020016000140","ShKpp":"770731005","ShOkato":"45379000","ShPoluchName":"УФК '
       'по г. Москве (УГИБДД ГУ МВД России по '
       'г.Москве)","Sum":3000,"Uin":"18810177180125209293"}',
 'Sts': '7741525886',
 'Type': 0,
 'UID': 'f9e58750-5f64-4138-942a-67e0967d4547',
 'VidNak': '2',
 'VstupDate': '',
 'Vu': ''}

In [260]:
fines = []
for fine in fines_list:
    fines.append({
        'Name': fine['ApnDetail'][0]['Value'].replace('\t', ' - '),
        'Place': fine['ApnDetail'][3]['Value'],
        'Fine sum': fine['FineSum'],
    })

fines_df = pd.DataFrame.from_dict(fines)
fines_df

,Name,Place,Fine sum
0,12.17 ч.1.2 - Движение или остановка на полосе...,МОСКВА Г. МОХОВАЯ д.15/1,3000
1,12.09.2 - Превышение скорости движения ТС от 2...,"А/Д М-9 ""БАЛТИЯ"", 24КМ+750М, ИЗ МОСКВЫ",500
2,12.9.6 - Повторное превышение скорости на 40-6...,МОСКВА Г. РУБЛЕВСКОЕ Ш. д.79,2000
3,12.15.1 - Наруш.правил расп.т/с на пр.части бе...,МОСКВА Г. КУТУЗОВСКИЙ ПРОСП.,1500
4,12.9.6 - Повторное превышение скорости на 40-6...,МОСКВА Г. НОВЫЙ АРБАТ д.36/9,2000
...,...,...,...
830,12.09.2 - Превышение скорости движения ТС от 2...,МОСКВА Г. НОВЫЙ АРБАТ д.28,500
831,"12.16.5 Нарушение, предусмотренное частью 4 на...","г. Москва, Тверская улица, 4",3000
832,"12.16.5 Нарушение, предусмотренное частью 4 на...","г. Москва, Тверская улица, 4",3000
833,"12.16.5 Нарушение, предусмотренное частью 4 на...","г. Москва, ул. Охотный Ряд, д. 2",3000
834,"12.16.5 Нарушение, предусмотренное частью 4 на...","г. Москва, Тверская улица, 3",3000

In [265]:
summary = fines_df.groupby('Name')['Fine sum'].agg(
    ['count', 'sum'],
).sort_values(['count'], ascending=False)
summary

                                                    count     sum
Name
12.09.2 - Превышение скорости движения ТС от 20...    361  180500
12.17 ч.1.2 - Движение или остановка на полосе ...    212  636000
12.15.1 - Наруш.правил расп.т/с на пр.части без...     95  142500
12.9.6 - Повторное превышение скорости на 40-60...     94  188000
12.15.5 - Повторный выезд на сторону, предназна...     21  105000
12.9.7 - Повторное превышение скорости на 60-80...     17   85000
12.16.5 Нарушение, предусмотренное частью 4 нас...     15   45000
12.16.1 - Несоблюдение требований знаков или ра...      8    4000
12.09.3 - Превышение скорости движения ТС от 40...      7    7000
12.19 ч.6 - Стоянка, остановка ТС на проезжей ч...      3    9000
12.16.2 - Поворот налево или разворот в нарушен...      1    1000
8.14.2  - Неуплата за размещение транспортного ...      1    2500

In [271]:
pd.Series(summary.sum(),name='Уплата штрафов')

count        835
sum      1405500
Name: Уплата штрафов, dtype: int64

In [273]:
summary.append(
    pd.Series(summary.sum(), name='Всего уплачено штрафов'))

                                                    count      sum
Name
12.09.2 - Превышение скорости движения ТС от 20...    361   180500
12.17 ч.1.2 - Движение или остановка на полосе ...    212   636000
12.15.1 - Наруш.правил расп.т/с на пр.части без...     95   142500
12.9.6 - Повторное превышение скорости на 40-60...     94   188000
12.15.5 - Повторный выезд на сторону, предназна...     21   105000
12.9.7 - Повторное превышение скорости на 60-80...     17    85000
12.16.5 Нарушение, предусмотренное частью 4 нас...     15    45000
12.16.1 - Несоблюдение требований знаков или ра...      8     4000
12.09.3 - Превышение скорости движения ТС от 40...      7     7000
12.19 ч.6 - Стоянка, остановка ТС на проезжей ч...      3     9000
12.16.2 - Поворот налево или разворот в нарушен...      1     1000
8.14.2  - Неуплата за размещение транспортного ...      1     2500
Всего уплачено штрафов                                835  1405500